@charset "utf-8";

@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+JP:wght@500;700;800;900 & family= Open+Sans:wght@500;600; 700;800 & family= Roboto:wght@500;700;900 & display=swap');

$color_main: #000000;
$color_sub: #333333;
$color_white: #fff;

$font_main: 'Noto Sans JP', sans-serif;;
$font_en: 'Open Sans', sans-serif;
$font_roboto: 'Roboto', sans-serif;

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: $font_main;
    font-weight: 500;
}

body{
    font-size: 1.5rem;
    font-size: 16px;
    color: $color_main;
    line-height: 1.8;
}

body.active{
    height: 100%;
}

main{
    display: block;
    margin: 0;
    padding: 120px 0 0;

    @media (max-width: 768px) {
        padding-top: 100px;
    }
}

ul, ol{
    list-style: none;
    text-decoration: none;
}

a{
    display: block;
    text-decoration: none;
    transition: .4s all ease;
    color: $color_main;

    &:hover{
        transition: .4s;
    }
}

img{
    width: 100%;
    vertical-align: bottom;
    image-rendering: auto
}

input[type=submit], button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: $font_en;
    line-height: 1.8;
}

input[type=text],input[type=tel],input[type=email],textarea{
    line-height: 1.8;
}


/********************************************************
//
//                      iOS reset
//
********************************************************/
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer; }

input[type="submit"]:-webkit-search-decoration,
input[type="button"]:-webkit-search-decoration {
  display: none; }

input[type="submit"]:focus,
input[type="button"]:focus {
  outline-offset: -2px; }


/********************************************************
//
//                      font
//
********************************************************/
.en{
    font-family: $font_en;
}

.roboto{
    font-family: $font_roboto;
}

/********************************************************
//
//                      pc & sp
//
********************************************************/
//768px
.pc-only1{
    display: block;

    @media (max-width: 768px) {
        display: none;
    }
}

.sp-only1{
    display: none;

    @media (max-width: 768px) {
        display: block;        
    }
}

//556px
.pc-only2{
    display: block;

    @media (max-width: 556px) {
        display: none;
    }
}

.sp-only2{
    display: none;
    
    @media (max-width: 556px) {
        display: block;        
    }
}

/********************************************************
//
//                     container
//
********************************************************/
.container{
    max-width: 1080px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1080px) {
        width: 94%;
    }
}


/********************************************************
//
//                     flex
//
********************************************************/
.flex{
    display: -ms-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.flex-between{
    justify-content: space-between;
}


/********************************************************
//
//                     text_shadow
//
********************************************************/
.text_shadow{
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: $color_white;
}


/********************************************************
//
//                     sec_padding
//
********************************************************/
.sec_padding{
    padding: 100px 0;

    @media (max-width: 768px) {
        padding: 60px 0;
    }
}

.sec_padding.flex .container{
    width: 60%;

    @media (max-width: 768px) {
        width: 94%;
    }
}

/********************************************************
//
//                      header
//
********************************************************/
header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    padding: 12px 0;
    background: $color_white;
    transition: all 0.4s ease 0s;

    >.flex{
        height: 100%;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    //logo
    .logo{
        position: relative;
        font-size: clamp(1.8rem, 3vw, 2.2rem);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        padding-right: 5.5em;
        transition: .4s all ease;
        font-family: $font_en;

        &:after{
            content: "";
            position: absolute;
            background: $color_main;
            width: clamp(80px, 8vw, 100px);
            height: 2px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }

        @media (hover:hover) {
            &:hover{
                opacity: 0.7;
            }   
        }
    }

    //hamburger
    .hamburger{
        position: relative;
        width: 40px;
        height: 40px;
        top: 8px;
        right: 0;
        cursor: pointer;
        transition: .4s all ease;

        >span{
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 3px;
            background: $color_main;
            z-index: 1000;
            border-radius: 5px;
        }

        >span:first-child{
            top: 0px;
        }

        >span:nth-child(2){
            top: 10px;
        }

        >span:last-child{
            top: 20px;
        }
    }

    .hamburger.active{
        cursor: pointer;
        transform: rotateY(-360deg);
        transition: .4s all ease;

        >span:first-child{
            top: 10px;
            transform: translateY(6px) rotate(-135deg);
        }

        >span:nth-child(2){
            display: none;
        }

        >span:last-child{
            top: 21px;
            transform: translateY(-6px) rotate(135deg);
        }
    }


    //hambuger menu
    .nav_menu{
        position: fixed;
        visibility: hidden;
        background: $color_white;
        width: 100%;
        height: 100vh;
        top: 60px;
        right: -140%;
        z-index: 999;
        transition: .4s all ease-in-out;
    }

    .nav_content{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 30px;

        >.flex{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 40px;
            padding: 0 40px;
        }
    }

    //nav_list
    .nav_list{
        transition: all .4s cubic-bezier(.23,1,.32,1);
        width: 100%;

        li{
            width: 25%;
            font-size: 2.6rem;
            font-weight: bold;
            font-family: $font_en;
            color: $color_white;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto 40px;
            transition: all 1s cubic-bezier(.23,1,.32,1);
            transform: translate3d(500px,0,0);

            @media (max-width: 768px) {
                width: 100%;
                font-size: 2.4rem;
            }

            a{
                width: 100%;
                position: relative;
                padding: 15px 0;

                //hover線
                &:before, &:after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    width: 0;
                    border-top: 1px solid $color_main;
                    border-bottom: 1px solid $color_main;
                    transition: width .54s ease-in-out, transform 1s ease-in-out;
                }

                &:before{
                    top: 0;
                }

                &:after{
                    bottom: 0;
                }

                @media (hover:hover) {
                    &:hover{
                        &:before, &:after{
                            transform: translate(-50%, 0);
                            width: 100%;
                            transition: width .6s ease-in-out, transform .4s ease-in-out;
                        }
                    }   
                }
            }
        }

        li:last-child{
            margin-bottom: 0;
        }
    }

    //nav_menu active
    .nav_menu.active{
        visibility: visible;
        right: 0;
        left: auto;
        transition: all .4s cubic-bezier(.23,1,.32,1);

        .nav_list li{
            transform: translate3d(0,0,0);
        }

        //メニューdelay
        @for $li from 1 through 6 {
            .nav_list li:nth-child(#{$li}) {
              transition-delay: $li * .1s;
            }
        }
    }
}

/********************************************************
//
//                      sec_title
//
********************************************************/
.sec_title{
    position: sticky;
    top: 0;
    left: 0;
    width: 40%;
    margin: auto 0;

    @media (max-width: 768px) {
        width: 100%;
    }

    >h2{
        font-size: clamp(4rem, 8vw, 10rem);
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-family: $font_en;
        letter-spacing: .05em;

        @media (max-width: 768px) {
            position: relative;
            margin-bottom: 40px;

            &:after{
                content: "";
                position: absolute;
                background: $color_main;
                width: clamp(60px, 7vw, 100px);
                height: 2px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
            }
        }
    }
}


/********************************************************
//
//                      detail_title
//
********************************************************/
.detail_title{
    margin-bottom: 40px;
    
    >h2{
        font-size: clamp(2.4rem, 10vw, 8rem);
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        font-family: $font_en;
        letter-spacing: .05em;

        &:after{
            content: "";
            position: absolute;
            background: $color_main;
            height: 2px;
            width: 70%;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;

            @media (max-width: 768px){
                width: 65%;
            }
        }
    }

    >p{
        line-height: 2;

        @media (max-width: 768px) {
            font-size: 1.4rem;
        }
    }
}


/********************************************************
//
//                      btn
//
********************************************************/
.btn{
   max-width: 280px;
   width: 100%;
   position: relative;
   cursor: pointer;
   outline: none;
   border: 2px solid $color_main;
   border-radius: 32px;
   background: $color_white;
   transform-style: preserve-3d;
   transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   box-shadow: inset 0 0 0 0 $color_main;
   margin-right: auto;
   margin-left: auto;

   &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color_main;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 2px $color_main, 0 4px 0 0 $color_main;
    transform: translate3d(0, 6px, -16px);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   }

   &:hover{
    transform: translate(0, 5px);

    &:before{
        box-shadow: 0 0 0 2px $color_main, 0 0 $color_main;
        transform: translate3d(0, 0, -16px);
    }
   }

   a, input[type=submit]{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    color: $color_main;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
   }
}

/********************************************************
//
//                       import
//
********************************************************/
.import_line_before{
    background: linear-gradient($color_main 0 0) 0 100% /var(--d, 0) 2px no-repeat;
    transition: .4s all ease;
    text-decoration: none;
    padding-bottom: 3px;
}

.import_line_after{
    --d: 100%;
}

.import_color{
    color: $color_white;
    background: $color_main;
    padding: 3px 8px;
    margin-right: 3px;
    font-weight: bold;
}


/********************************************************
//
//                       one_work
//
********************************************************/
.one_work{
    width: calc((100% - 60px) / 3);
    border-radius: 12px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.15);

    @media (max-width: 993px) {
        width: calc((100% - 20px) / 2);
    }

    @media (max-width: 556px) {
        width: 90%;
        margin: 0 auto;
    }

    figure{
        width: 100%;
        height: auto;
        overflow: hidden;
        transition: .4s all ease;
        
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .4s all ease;
            border-radius: 12px 12px 0 0;
        }
    }

    &:hover{
        opacity: 0.7;

        figure{
            overflow: hidden;
            border-radius: 12px 12px 0 0;

            img{
                transform: scale(1.1);
                border-radius: 12px 12px 0 0;
            }
        }
    }

    .work_detail{
        padding: 20px 16px 24px;

        @media (max-width: 768px) {
            padding: 16px;
        }
        
        a{
            position: relative;
            padding-right: 20px;
            padding-bottom: 3px;
            display: inline-block;

            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0 auto;
                transition: .4s all ease;
                background: linear-gradient($color_main 0 0) 0 100% /var(--d, 0) 2px no-repeat;
            }

            &:after{
                content: "";
                position: absolute;
                background: url(/common/img/icon_othersite.svg) no-repeat;
                background-size: contain;
                width: 12px;
                height: 12px;
                top: 11px;
                right: 0;
            }
            
            &:hover{
                &:before{
                    --d: 100%;
                    transition: .4s all ease;
                }
            }
        }
        
        .title{
            font-size: 1.8rem;
            font-weight: bold;
            text-align: left;
            margin-bottom: 16px;
            text-align: center;

            @media (max-width: 768px){
                font-size: 1.6rem;
            }
        }

        .work_detail_content{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 12px;
            gap: 20px;

            p{
                font-size: 1.6rem;

                @media (max-width: 768px) {
                    font-size: 1.4rem;
                }
                
                &:first-child{
                    width: 12%;
                }

                &:last-child{
                    width: 78%;
                }
            }

            .detail_title{
                font-weight: bold;
                width: 15%;
            }

            //作業環境
            .envi{
                width: 75%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: 4px;
                
                li{
                    padding: 0 8px;
                    background: #f6f6f6;
                    border-radius: 18px;
                    font-size: 1.4rem;
                    display: inline-block;

                    @media (max-width: 768px) {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .detail_content:nth-child(3){
            padding-bottom: 20px;
        }

        //説明
        .explan{
            >p{
                font-size: 1.6rem;
                text-align: left;

                @media (max-width: 768px) {
                    font-size: 1.5rem;
                }
            }

            .twin{
                margin: 0;
                
                a{
                    display: inline-block;
                    padding-right: 15px;

                    &:after{
                        width: 10px;
                        height: 10px;
                        top: 10px;
                    }
                }
            }
        }
    }
}

/********************************************************
//
//                      fadeUp
//
********************************************************/
.fadeUp{
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.fadeUp_show{
    opacity: 1;
    transform: translateY(0);
}


/********************************************************
//
//                       form error
//
********************************************************/
.error{
    background: #ffe3e3;
}

/********************************************************
//
//                      scroll_top
//
********************************************************/
.scroll_top{
    cursor: pointer;
    right: 4%;
    top: -28px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid $color_main;
    transition: .4s all ease;
    z-index: 1000;
    background: $color_white;
    mix-blend-mode: multiply;

    @media (max-width: 768px) {
        width: 48px;
        height: 48px;
    }

    >a{
        width: 100%;
        height: 100%;
        position: relative;
        transition: .4s all ease;

        &:before{
            content: "";
            position: absolute;
            border-top: 3px solid $color_main;
            border-right: 3px solid $color_main;
            width: 14px;
            height: 14px;
            transform: rotate(-45deg);
            left: 0;
            right: 0;
            top: 25px;
            margin: 0 auto;
            opacity: 1;
            transition: border-color ease 0.1s;
            z-index: 10;

            @media (max-width: 768px) {
                width: 12px;
                height: 12px;
                top: 18px;
            }
        }

        &:after{
            content: "";
            position: absolute;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%) scale(0, 0);
            transition: .4s all ease;
            background: $color_main;
            right: -33px;
            top: 28px;
            border-radius: 50%;

            @media (max-width: 768px) {
                width: 48px;
                height: 48px;
                right: -26px;
                top: 22px;
            }
        }
    }

    @media (hover:hover) {
        &:hover{
            opacity: 1;
    
            a:before{
                border-color: $color_white;
            }
    
            a:after{
                transform: translate(-50%, -50%) scale(1.1, 1.1);
            }
        }   
    }
}

.scroll_top.display{
    display: none !important;
}

/********************************************************
//
//                      footer
//
********************************************************/
footer{
    background: $color_white;
    padding: 100px 0 40px;

    @media (max-width: 768px) {
        padding: 60px 0 20px;
    }

    .flex.flex-between{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .logo{
        position: relative;
        font-size: clamp(1.8rem, 3vw, 2.2rem);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-right: 5.5em;
        transition: 0.4s all ease;
        font-family: "Open Sans", sans-serif;


        @media (hover:hover) {
            &:hover{
                opacity: 0.7;
            }   
        }
    }
    
    p{
        font-size: 1.4rem;
        text-align: right;
        font-weight: normal;

        a{
            display: inline-block;
            margin-left: 5px;
        }

        &:last-child{
            margin-top: 10px;
        }

        span{
            display: inline-block;
            margin-left: 4px;
        }
    }
}