@import url("https://fonts.googleapis.com/css2? family= Noto+Sans+JP:wght@500;700;800;900 & family= Open+Sans:wght@500;600; 700;800 & family= Roboto:wght@500;700;900 & display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

body {
  font-size: 1.5rem;
  font-size: 16px;
  color: #000000;
  line-height: 1.8;
}

body.active {
  height: 100%;
}

main {
  display: block;
  margin: 0;
  padding: 120px 0 0;
}
@media (max-width: 768px) {
  main {
    padding-top: 100px;
  }
}

ul, ol {
  list-style: none;
  text-decoration: none;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.4s all ease;
  color: #000000;
}
a:hover {
  transition: 0.4s;
}

img {
  width: 100%;
  vertical-align: bottom;
  image-rendering: auto;
}

input[type=submit], button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}

input[type=text], input[type=tel], input[type=email], textarea {
  line-height: 1.8;
}

/********************************************************
//
//                      iOS reset
//
********************************************************/
input[type=submit],
input[type=button] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type=submit]:-webkit-search-decoration,
input[type=button]:-webkit-search-decoration {
  display: none;
}

input[type=submit]:focus,
input[type=button]:focus {
  outline-offset: -2px;
}

/********************************************************
//
//                      font
//
********************************************************/
.en {
  font-family: "Open Sans", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/********************************************************
//
//                      pc & sp
//
********************************************************/
.pc-only1 {
  display: block;
}
@media (max-width: 768px) {
  .pc-only1 {
    display: none;
  }
}

.sp-only1 {
  display: none;
}
@media (max-width: 768px) {
  .sp-only1 {
    display: block;
  }
}

.pc-only2 {
  display: block;
}
@media (max-width: 556px) {
  .pc-only2 {
    display: none;
  }
}

.sp-only2 {
  display: none;
}
@media (max-width: 556px) {
  .sp-only2 {
    display: block;
  }
}

/********************************************************
//
//                     container
//
********************************************************/
.container {
  max-width: 1080px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1080px) {
  .container {
    width: 94%;
  }
}

/********************************************************
//
//                     flex
//
********************************************************/
.flex {
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}

.flex-between {
  justify-content: space-between;
}

/********************************************************
//
//                     text_shadow
//
********************************************************/
.text_shadow {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: #fff;
}

/********************************************************
//
//                     sec_padding
//
********************************************************/
.sec_padding {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .sec_padding {
    padding: 60px 0;
  }
}

.sec_padding.flex .container {
  width: 60%;
}
@media (max-width: 768px) {
  .sec_padding.flex .container {
    width: 94%;
  }
}

/********************************************************
//
//                      header
//
********************************************************/
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  padding: 12px 0;
  background: #fff;
  transition: all 0.4s ease 0s;
}
header > .flex {
  height: 100%;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header .logo {
  position: relative;
  font-size: clamp(1.8rem, 3vw, 2.2rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-right: 5.5em;
  transition: 0.4s all ease;
  font-family: "Open Sans", sans-serif;
}
header .logo:after {
  content: "";
  position: absolute;
  background: #000000;
  width: clamp(80px, 8vw, 100px);
  height: 2px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
@media (hover: hover) {
  header .logo:hover {
    opacity: 0.7;
  }
}
header .hamburger {
  position: relative;
  width: 40px;
  height: 40px;
  top: 8px;
  right: 0;
  cursor: pointer;
  transition: 0.4s all ease;
}
header .hamburger > span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000000;
  z-index: 1000;
  border-radius: 5px;
}
header .hamburger > span:first-child {
  top: 0px;
}
header .hamburger > span:nth-child(2) {
  top: 10px;
}
header .hamburger > span:last-child {
  top: 20px;
}
header .hamburger.active {
  cursor: pointer;
  transform: rotateY(-360deg);
  transition: 0.4s all ease;
}
header .hamburger.active > span:first-child {
  top: 10px;
  transform: translateY(6px) rotate(-135deg);
}
header .hamburger.active > span:nth-child(2) {
  display: none;
}
header .hamburger.active > span:last-child {
  top: 21px;
  transform: translateY(-6px) rotate(135deg);
}
header .nav_menu {
  position: fixed;
  visibility: hidden;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 60px;
  right: -140%;
  z-index: 999;
  transition: 0.4s all ease-in-out;
}
header .nav_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
}
header .nav_content > .flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 0 40px;
}
header .nav_list {
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
}
header .nav_list li {
  width: 25%;
  font-size: 2.6rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 40px;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translate3d(500px, 0, 0);
}
@media (max-width: 768px) {
  header .nav_list li {
    width: 100%;
    font-size: 2.4rem;
  }
}
header .nav_list li a {
  width: 100%;
  position: relative;
  padding: 15px 0;
}
header .nav_list li a:before, header .nav_list li a:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transition: width 0.54s ease-in-out, transform 1s ease-in-out;
}
header .nav_list li a:before {
  top: 0;
}
header .nav_list li a:after {
  bottom: 0;
}
header .nav_list li a:hover:before, header .nav_list li a:hover:after {
  transform: translate(-50%, 0);
  width: 100%;
  transition: width 0.6s ease-in-out, transform 0.4s ease-in-out;
}
header .nav_list li:last-child {
  margin-bottom: 0;
}
header .nav_menu.active {
  visibility: visible;
  right: 0;
  left: auto;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
header .nav_menu.active .nav_list li {
  transform: translate3d(0, 0, 0);
}
header .nav_menu.active .nav_list li:nth-child(1) {
  transition-delay: 0.1s;
}
header .nav_menu.active .nav_list li:nth-child(2) {
  transition-delay: 0.2s;
}
header .nav_menu.active .nav_list li:nth-child(3) {
  transition-delay: 0.3s;
}
header .nav_menu.active .nav_list li:nth-child(4) {
  transition-delay: 0.4s;
}
header .nav_menu.active .nav_list li:nth-child(5) {
  transition-delay: 0.5s;
}
header .nav_menu.active .nav_list li:nth-child(6) {
  transition-delay: 0.6s;
}

/********************************************************
//
//                      sec_title
//
********************************************************/
.sec_title {
  position: sticky;
  top: 0;
  left: 0;
  width: 40%;
  margin: auto 0;
}
@media (max-width: 768px) {
  .sec_title {
    width: 100%;
  }
}
.sec_title > h2 {
  font-size: clamp(4rem, 8vw, 10rem);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
  .sec_title > h2 {
    position: relative;
    margin-bottom: 40px;
  }
  .sec_title > h2:after {
    content: "";
    position: absolute;
    background: #000000;
    width: clamp(60px, 7vw, 100px);
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

/********************************************************
//
//                      detail_title
//
********************************************************/
.detail_title {
  margin-bottom: 40px;
}
.detail_title > h2 {
  font-size: clamp(2.4rem, 10vw, 8rem);
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05em;
}
.detail_title > h2:after {
  content: "";
  position: absolute;
  background: #000000;
  height: 2px;
  width: 70%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
@media (max-width: 768px) {
  .detail_title > h2:after {
    width: 65%;
  }
}
.detail_title > p {
  line-height: 2;
}
@media (max-width: 768px) {
  .detail_title > p {
    font-size: 1.4rem;
  }
}

/********************************************************
//
//                      btn
//
********************************************************/
.btn {
  max-width: 280px;
  width: 100%;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 2px solid #000000;
  border-radius: 32px;
  background: #fff;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  box-shadow: inset 0 0 0 0 #000000;
  margin-right: auto;
  margin-left: auto;
}
.btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #000000, 0 4px 0 0 #000000;
  transform: translate3d(0, 6px, -16px);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btn:hover {
  transform: translate(0, 5px);
}
.btn:hover:before {
  box-shadow: 0 0 0 2px #000000, 0 0 #000000;
  transform: translate3d(0, 0, -16px);
}
.btn a, .btn input[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  width: 100%;
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

/********************************************************
//
//                       import
//
********************************************************/
.import_line_before {
  background: linear-gradient(#000000 0 0) 0 100%/var(--d, 0) 2px no-repeat;
  transition: 0.4s all ease;
  text-decoration: none;
  padding-bottom: 3px;
}

.import_line_after {
  --d: 100%;
}

.import_color {
  color: #fff;
  background: #000000;
  padding: 3px 8px;
  margin-right: 3px;
  font-weight: bold;
}

/********************************************************
//
//                       one_work
//
********************************************************/
.one_work {
  width: calc((100% - 60px) / 3);
  border-radius: 12px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 993px) {
  .one_work {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 556px) {
  .one_work {
    width: 90%;
    margin: 0 auto;
  }
}
.one_work figure {
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: 0.4s all ease;
}
.one_work figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s all ease;
  border-radius: 12px 12px 0 0;
}
.one_work:hover {
  opacity: 0.7;
}
.one_work:hover figure {
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}
.one_work:hover figure img {
  transform: scale(1.1);
  border-radius: 12px 12px 0 0;
}
.one_work .work_detail {
  padding: 20px 16px 24px;
}
@media (max-width: 768px) {
  .one_work .work_detail {
    padding: 16px;
  }
}
.one_work .work_detail a {
  position: relative;
  padding-right: 20px;
  padding-bottom: 3px;
  display: inline-block;
}
.one_work .work_detail a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transition: 0.4s all ease;
  background: linear-gradient(#000000 0 0) 0 100%/var(--d, 0) 2px no-repeat;
}
.one_work .work_detail a:after {
  content: "";
  position: absolute;
  background: url(/common/img/icon_othersite.svg) no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  top: 11px;
  right: 0;
}
.one_work .work_detail a:hover:before {
  --d: 100%;
  transition: 0.4s all ease;
}
.one_work .work_detail .title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  .one_work .work_detail .title {
    font-size: 1.6rem;
  }
}
.one_work .work_detail .work_detail_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 12px;
  gap: 20px;
}
.one_work .work_detail .work_detail_content p {
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .one_work .work_detail .work_detail_content p {
    font-size: 1.4rem;
  }
}
.one_work .work_detail .work_detail_content p:first-child {
  width: 12%;
}
.one_work .work_detail .work_detail_content p:last-child {
  width: 78%;
}
.one_work .work_detail .work_detail_content .detail_title {
  font-weight: bold;
  width: 15%;
}
.one_work .work_detail .work_detail_content .envi {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.one_work .work_detail .work_detail_content .envi li {
  padding: 0 8px;
  background: #f6f6f6;
  border-radius: 18px;
  font-size: 1.4rem;
  display: inline-block;
}
@media (max-width: 768px) {
  .one_work .work_detail .work_detail_content .envi li {
    font-size: 1.2rem;
  }
}
.one_work .work_detail .detail_content:nth-child(3) {
  padding-bottom: 20px;
}
.one_work .work_detail .explan > p {
  font-size: 1.6rem;
  text-align: left;
}
@media (max-width: 768px) {
  .one_work .work_detail .explan > p {
    font-size: 1.5rem;
  }
}
.one_work .work_detail .explan .twin {
  margin: 0;
}
.one_work .work_detail .explan .twin a {
  display: inline-block;
  padding-right: 15px;
}
.one_work .work_detail .explan .twin a:after {
  width: 10px;
  height: 10px;
  top: 10px;
}

/********************************************************
//
//                      fadeUp
//
********************************************************/
.fadeUp {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fadeUp_show {
  opacity: 1;
  transform: translateY(0);
}

/********************************************************
//
//                       form error
//
********************************************************/
.error {
  background: #ffe3e3;
}

/********************************************************
//
//                      scroll_top
//
********************************************************/
.scroll_top {
  cursor: pointer;
  right: 4%;
  top: -28px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #000000;
  transition: 0.4s all ease;
  z-index: 1000;
  background: #fff;
}
@media (max-width: 768px) {
  .scroll_top {
    width: 48px;
    height: 48px;
  }
}
.scroll_top > a {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s all ease;
}
.scroll_top > a:before {
  content: "";
  position: absolute;
  border-top: 3px solid #000000;
  border-right: 3px solid #000000;
  width: 14px;
  height: 14px;
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  top: 25px;
  margin: 0 auto;
  opacity: 1;
  transition: border-color ease 0.1s;
  z-index: 10;
}
@media (max-width: 768px) {
  .scroll_top > a:before {
    width: 12px;
    height: 12px;
    top: 18px;
  }
}
.scroll_top > a:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%) scale(0, 0);
  transition: 0.4s all ease;
  background: #000000;
  right: -33px;
  top: 28px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .scroll_top > a:after {
    width: 48px;
    height: 48px;
    right: -26px;
    top: 22px;
  }
}
.scroll_top:hover {
  opacity: 1;
}
.scroll_top:hover a:before {
  border-color: #fff;
}
.scroll_top:hover a:after {
  transform: translate(-50%, -50%) scale(1.1, 1.1);
}

.scroll_top.display {
  display: none !important;
}

/********************************************************
//
//                      footer
//
********************************************************/
footer {
  background: #fff;
  padding: 100px 0 40px;
}
@media (max-width: 768px) {
  footer {
    padding: 60px 0 20px;
  }
}
footer .flex.flex-between {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}
footer .logo {
  position: relative;
  font-size: clamp(1.8rem, 3vw, 2.2rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-right: 5.5em;
  transition: 0.4s all ease;
  font-family: "Open Sans", sans-serif;
}
@media (hover: hover) {
  footer .logo:hover {
    opacity: 0.7;
  }
}
footer p {
  font-size: 1.4rem;
  text-align: right;
  font-weight: normal;
}
footer p a {
  display: inline-block;
  margin-left: 5px;
}
footer p:last-child {
  margin-top: 10px;
}
footer p span {
  display: inline-block;
  margin-left: 4px;
}/*# sourceMappingURL=common.css.map */