@charset "utf-8";

$color_main: #000000;
$color_sub: #333333;
$color_white: #fff;

$font_main: 'Noto Sans JP', sans-serif;;
$font_en: 'Open Sans', sans-serif;
$font_roboto: 'Roboto', sans-serif;

/********************************************************
//
//                     about
//
********************************************************/
.detail_title{
    >h2:after{
        @media (max-width: 768px) {
            width: 56%;
        }
    }
}

#about_detail{
    padding-top: 0;

    //セクションタイトル
    h3.en{
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: .05em;
        text-transform: uppercase;
        margin-bottom: 16px;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    //タグ
    ul.flex{
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin-bottom: 60px;

        @media (max-width: 768px) {
            margin-bottom: 30px;
            gap: 12px;
        }

        li{
            font-size: 2rem;
            font-weight: bold;
            text-transform: capitalize;
            text-align: center;
            position: relative;
            padding-left: 20px;
            font-family: $font_en;

            @media (max-width: 768px) {
                font-size: 1.6rem;
            }

            &:before{
                content: "#";
                position: absolute;
                font-size: 1.8rem;
                font-weight: bold;
                left: 0;
                top: 2px;

                @media (max-width: 768px) {
                    font-size: 1.4rem;
                }
            }
        }
    }

    //紹介
    .intro{
        margin-bottom: 100px;

        @media (max-width: 768px) {
            margin-bottom: 60px;
        }

        >h3{
            font-size: clamp(2.2rem, 2.8vw, 3rem);
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .05em;
            margin-bottom: 40px;

            @media (max-width: 556px) {
                letter-spacing: 0;
            }
        }

        >p{
            font-size: 1.8rem;
            line-height: 2;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 1.6rem;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    //長所・性格
    .character{
        margin-bottom: 80px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }

        .pros{
            .pros_list{
                align-items: flex-start;
                flex-wrap: wrap;

                h3.en{
                    margin-bottom: 24px;
                }

                dl{
                    margin-bottom: 30px;
                    width: 46%;

                    @media (max-width: 768px) {
                        width: 100%;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }

                dt{
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin-bottom: 14px;

                    @media (max-width: 768px) {
                        font-size: 1.6rem;
                    }

                    >span{
                        position: relative;
                        padding-left: 30px;

                        &:before{
                            content: "";
                            position: absolute;
                            background: url(/common/img/icon_blackstar.png) no-repeat;
                            background-size: contain;
                            width: 20px;
                            height: 20px;
                            left: 0;
                            top: 4px;
                        }
                    }
                }

                li{
                    font-size: 1.6rem;
                    position: relative;
                    padding-left: 26px;
                    margin-bottom: 8px;

                    @media (max-width: 768px) {
                        font-size: 1.4rem;
                    }

                    &:before{
                        content: "";
                        position: absolute;
                        background: $color_main;
                        width: 12px;
                        height: 2px;
                        left: 0;
                        top: 14px;
                    }
                }
            }
        }
    }

    //プロファイル
    .porfile{
        flex-direction: row;
        align-items: center;
        gap: 40px;

        @media (max-width: 556px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .porfile_content{
            width: calc(100% / 2);

            @media (max-width: 556px) {
                width: 100%;
            }
        }

        dl{
            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        dt, dd{
            font-size: 1.8rem;

            @media (max-width: 768px) {
                font-size: 1.6rem;
            }
        }
    }
}